# Lekti fichye nan Pandas

Pandas pemet ou li done ki sou diferan foma, nan lekti sa n ap prezante w dives metod ou kapab itilize pou w pran done sa yyo nan foma ke yo ye a epi mete yo nan yon DataFrame

In [1]:
import pandas as pd

## Lekti fichye CSV

Pou nou kapab li yon fichye CSV ak pandas, nou itilize metod pandas.read_csv()

Nan egzanp sila, nou ap li yon fichye CSV ki konsenen kek pwodiksyon sou Netflix

In [14]:
fim=pd.read_csv("netflix_titles.csv")

In [15]:
display(fim.head())

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

## Lekti fichye Excel

Excel se youn nan foma ki pi itilize pou stoke done, anpil fwa done w pral jwenn yo a anrejistre nan yon fichye Excel. Pou nou kapab li yon fichye Excel ak pandas, nou itilize metod pandas.read_excel()

Nan ekzanp sa nou pote la, n ap li yon fichye Excel ki genyen kek done fiktiv sou manje  ke yo achte

In [13]:
food=pd.read_excel("sampledatafoodsales.xlsx", sheet_name=1)
display(food.head())

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
0,2020-01-01,East,Boston,Bars,Carrot,33,1.77,58.41
1,2020-01-04,East,Boston,Crackers,Whole Wheat,87,3.49,303.63
2,2020-01-07,West,Los Angeles,Cookies,Chocolate Chip,58,1.87,108.46
3,2020-01-10,East,New York,Cookies,Chocolate Chip,82,1.87,153.34
4,2020-01-13,East,Boston,Cookies,Arrowroot,38,2.18,82.84

Paramet sheet_name lan pemet ou chwazi ki fey Excel w ap li, li kapab endis fey la oubyen non fey la

## Lekti HTML

Pou nou kapab li yon paj HTML ak pandas, nou itilize metod pandas.read_html()

Nan egzanp sila, nou pral eseye pran lis peyi , kapital ak popilasyon kapital yo sou wikipedia

In [5]:
lis_tablo=pd.read_html("https://fr.wikipedia.org/wiki/Liste_des_capitales_du_monde_par_population")

Enpotan, le w li yon paj HTML ak pandas li pa retounen yon Dataframe, men yon lis ki genyen andan l tout tablo HTML ki genyen nan paj la men ke l transfome an DataFrame.  Pa egzanp, si yon paj HTML gen 3 tablo ladan l, lis pandas ap retounen pou ou a ap gen 3 DataFrame.  Pou kapab we konbyen DataFrame li tounen ban nou, ak longe lis la.

In [6]:
print(len(lis_tablo))

1

In [9]:
kapital=lis_tablo[0]
display(kapital.head())

   Rang                   Pays/Territoire  Capitale     Population Année
0     1                             Chine     Pékin  21 153 600[1]  2020
1     2                             Japon     Tokyo  13 953 972[2]  2019
2     4                            Russie    Moscou  12 507 000[3]  2018
3     3  République démocratique du Congo  Kinshasa     12 071 000  2016
4     6                         Indonésie   Jakarta  10 639 000[4]  2020

## Lekti nan yon baz done SQL

Nan ekzanp sa n p itilize yon baz done ki popile anpil sou entenet la ki se Chinook, se yon baz done ki gen enfomasyon sou yon boutik media dijital , yo konsen atis, kliyan, mizik yo aklot anko.

Pou nou li nan yon baz done  SQL ak pandas n ap bezwen dabo yon libreri tankou SQLAlchemy ki ap pemet nou kreye yon mote pou konvese ak baz done a.

In [19]:
from sqlalchemy import create_engine

Kreyasyon koneksyon an. Selon tip baz done a gen yon jan pou w pase prefiks la pou w ka di l ki baz done ak ki driver  w ap itilize.  Nan ekzanp pa nou an ki se yon ekzanp byen senp nou itilize yon baz sqlite.

In [21]:
koneksyon=create_engine("sqlite:///Chinook_Sqlite.sqlite")

Le w fin kreye koneksyon an ou kapab ekri reket  w ap fe sou baz done an. Nan ekzanp sa nou pran tout albom ki nan baz done an.

In [30]:
req=" SELECT * FROM Album"

Pou nou li sou pandas nou pase metod read_sql la 2 agiman, premye a se reket n ap fe a , dezyem lan se koneksyon nou te kreye a.

In [31]:
album=pd.read_sql(req, koneksyon)

In [32]:
album.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

## Lekti fichye JSON

JSON se youn nan foma ki pi itilize sou entenet la. Aktyelman, anpil API itilize JSON pou yo kominike. Antanke moun ki ap pratike syans done, li enpotan anpil pou w konn koman w ka li yon fichye json avek pandas.

Nan ekzanp sa nou moutre w koman w ka li repons yon API REST epi stoke yo nan yon DataFrame avek Pandas. Done sa yon fiktiv e yon konsene posts kek itilizate sou yon sit.

In [34]:
posts=pd.read_json("https://jsonplaceholder.typicode.com/posts")

Afiche 5 denye pos yo

In [35]:
display(posts.tail())

,userId,id,title,body
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

## Ale pi lwen

Chak metod nou sot prezante la, gen anpil paramet ki asosye a yo k ap peemt nou li fichye yo e jwenn yo nan foma nou t ap espere yo. 
Nan travay  pratik n ap gen pou nou fe, nou pra l we anpil nan paramet sa yo men tou n ap gen pou pase je sou koman nou ka li kek fichye tankou Google sheets, SAS ak SPSS. Koman n ap ka sovgade done yo nan foma nou vle yo ak anpil lot anko

- https://github.com/lerocha/chinook-database
- https://www.contextures.com/xlsampledata01.html#table